<?xml version="1.0"?>
<config>
    <modules>
        <Shopgo_SnS>
            <version>1.0.0</version>
        </Shopgo_SnS>
    </modules>
    <global>
        <blocks>
            <sns>
                <class>Shopgo_SnS_Block</class>
            </sns>
        </blocks>
        <helpers>
            <sns>
                <class>Shopgo_SnS_Helper</class>
            </sns>
        </helpers>
        <models>
            <sns>
                <class>Shopgo_SnS_Model</class>
            </sns>
        </models>
    </global>
    <frontend>
        <routers>
            <sns>
                <use>standard</use>
                <args>
                    <module>Shopgo_SnS</module>
                    <frontName>sns</frontName>
                </args>
            </sns>
        </routers>
        <layout>
            <updates>
                <sns>
                    <file>shopgo/sns.xml</file>
                </sns>
            </updates>
        </layout>
    </frontend>
</config>
