#sns-get-addresses-loader {
    display: none;
}

#sns-addresses-container {
    display: none;
}

#sns-addresses-list {
    height: 400px;
    overflow-y: auto;
    padding: 0 7%;
}

.sns-address {
    height: 200px;
}

.sns-address.right {
    text-align: right;
}

@media screen
and (max-width: 700px) {
    .sns-address.right {
        float: left !important;
        text-align: left !important;
    }
}
